body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 90vh;
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    gap: 20px;
}

.left-panel, .right-panel {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.left-panel {
    width: 60%;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}

.right-panel {
    width: 40%;
    overflow-y: auto;
}

#searchInput {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    width: 40%;
}

#typeSelectors {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#primaryTypeSelect, #secondaryTypeSelect {
    width: 120px;
    padding: 10px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    cursor: pointer;
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pokemon-card {
    width: 103px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
}

.pokemon-details {
    padding: 20px;
    text-align: center;
}

.pokemon-details img {
    width: 150px;
    height: 150px;
}

.pokemon-details h2 {
    margin: 0;
}
.pokeinfo {    display: flex;
    justify-content: space-between;
    gap: 20px;}
